body{
    margin: 0;
    padding: 0;
    background-color: #f3ede7;
    color: #101632dd;
    font-family: 'Barlow';
    overflow-x: hidden;
   
    
}

div, ul, nav, header, footer, a, li, label, body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    
   
}

/* ---------- HEADER SECTION ---------- */

.header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 1em;   
    position: fixed;
    z-index: 999;
    height: 90px;
    width: 100%;
    
}



.header__logo{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(118, 112, 112);
    margin-bottom: 20px;
}

span{
    color: #8A6B49;
    font-weight: bold;
}


.header__nav-list{
    display: none;
    

}

.header__nav-item{
    list-style-type: none;
    margin: 40px;
    
}


.header__nav-item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
    
}

.header__nav-item a:hover{
    font-size: 1.3em;
    transition: 0.2s;
    color: rgb(118, 112, 112);
}

.header__button{
    font-size: 3em;
    background: none;
    border: none;
    color: rgb(118, 112, 112);
    cursor: pointer;
}

.header__nav-list.active{
    display: flex; 
    position: fixed; 
    top: 80px;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    z-index: 999; 
    transition: 0.2s;
    background-color: #f3ede7;

}

.header__nav-item:is(:hover, :active){
    text-decoration: underline;
    color: #8A6B49;
}

#contacto{
    text-decoration: underline;
    color: #8A6B49;
    
}

/*--------------------HEADER QUERIES----------------------*/

@media (min-width: 750px){
    .header__button{
        display: none;
    }

    .header__nav-list{
        display: flex; 
        position: static; 
        flex-direction: row;
        background-color: transparent; 
        margin-right: 100px;
         
    }

    .header__nav{
        margin-right: 140px;
    }

    .header__nav-item{
        margin: 30px;
        margin-top: 20px;
    }

    .header__nav-item a{ 
        color: rgb(118, 112, 112);
    }

    .header__logo{
        margin-left: 60px;
    }


}

/*--------------------HEADER QUERIES ENDS----------------------*/

/*--------------------CONTACT SECTION----------------------*/

#map{
    width: 100%;
    max-width: 800px;
    height: 500px;
    z-index: 900;
}

.ubication{
    padding-top: 120px;
}


.ubication__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    height: 90vh;

}

.ubication__data-container{
    max-height: 600px;
    padding: 80px;
    background-color: #fff;
    border-radius: 6px;
    margin-left: 40px;
    box-shadow: 0px 0px 20px #0002;;
    
}


.ubication__data-description{
    line-height: 50px;
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 600px;
}

.ubication__title{
    color: #6D5337;
}

/*-------------------- UBICATION QUERIES----------------------*/

@media (max-width: 700px){
    .ubication__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
       
    }

    .ubication__data-container{
        max-width: 350px;
        height: 400px;
        display: flex;
        align-items: center;
        
    }

    
    #map{
    width: 100%;
    max-width: 350px;
    height: 500px;
    margin-left: 35px;
    }

   


 
}


/*-------------------- UBICATION QUERIES ENDS----------------------*/

/* ------------------ FOOTER SECTION -------------------- */


.footer{
    background-color: #f9f9f9;
    margin-top: 90px;
    padding: 80px;
}

.footer__title{
    font-weight: 800;
    color: #6D5337;
    letter-spacing: 3px;
    font-size: 1.7em;
}

.footer__container-legal a{
    text-decoration: none;
    color:  #101632dd;
}

.footer__container-legal ul li{
    line-height: 40px;
}

img{
    width: 30px;
}

.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}

.footer__container-redes{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap:15px;
}

/*--------------------FOOTER QUERIES----------------------*/

@media (max-width: 700px){


    .footer__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        
          
    }

    .footer__container-legal{
        margin-right: 80px;
       
        
    }

    .footer__container-redes{
        margin-right: 120px;

    }
    
}


/*-------------------- FOOTER QUERIES ENDS----------------------*/