<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Negocio de joyeria artesanal de micro y macro macramé">
    <meta name="keywords" content="handmade, macrame, joyeria, sostenible, bohemian">
    <meta name="author" content="Lilian Miranda">
    <meta name="robots" content="follow">
    <title>mArte</title>
    <link rel="stylesheet" href="../css/02_estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.2/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    
</head>
<body>
    
    <!---------------- HEADER SECTION ------------------->

    <header class="header">
        <div class="header__logo"><span>m</span>Arte</div>

        <nav class="header__nav" id="main">
            <ul class="header__nav-list" id="nav_list">
                <li class="header__nav-item"><a href="../index.html">Índex</a></li>
                <li class="header__nav-item"><a href="./01_galeria.html">Galería</a></li>
                <li class="header__nav-item" id="presupuesto"><a href="#">Presupuesto</a></li>
                <li class="header__nav-item"><a href="./03_contacto.html">Contacto</a></li>
            </ul>
        </nav>

        <button class="header__button" id="button">=</button>

    </header>

    <!---------------- FORMULARIO SECTION ------------------->

    <section class="form">
        <h2 class="form__title">FORMULARIO</h2>
        <form id="formulario" class="form__container">

            
            <fieldset class="form__container-data">
                <legend>DATOS</legend>

                <div class="form__container-data-input">
                    <label  for="nombre">Nombre</label>
                    <input type="text" placeholder="Sofía" class="name" id="nombre">
                    
                     
                </div>

                <div class="form__container-data-input">
                    <label for="apellido">Apellido</label>
                    <input type="text" placeholder="Márquez" class="apellido" id="apellido"> 
                </div>

                <div class="form__container-data-input">
                    <label for="tel">Teléfono</label>
                    <input type="tel" placeholder="654 821 321" class="tel" id="tel"> 
                </div>

                <div class="form__container-data-input">
                    <label for="email">Email</label>
                    <input type="email" placeholder="Sofíamárquez12@gmail.com" class="email" id="email"> 
                </div>
    
            </fieldset>



            <fieldset class="form__container-data">
                <legend>Presupuesto</legend>
                <div class="form__container-data-producto">
                    <label for="producto">Escoge el producto:</label>
                    <select id="producto">
                        <option value="30">Anillo - 30 euros</option>
                        <option value="15">Pulsera - 15 euros</option>
                        <option value="40">Collar - 40 euros</option>
                        <option value="35">Pendiente - 35 euros</option>
                    </select>

                </div>

                <div class="form__container-data-producto">
                    <label for="entrega">Plazo de entrega</label>
                    <input type="number" name="num" id="entrega">
                </div>

                <div class="form__container-data-producto">
                    <label>Elija los extras para el producto:</label>
                    <input type="checkbox" name="extras" value="10" class="checkbox">Color personalizado
                    <input type="checkbox" name="extras" value="15" class="checkbox">Tipografía personalizado
                    <input type="checkbox" name="extras" value="5" class="checkbox">Para regalo
                </div>

                <div class="form__container-data-producto">
                    <label for="presProducto">Presupuesto estimado</label>
                    <input type="number" name="presupuesto" id="presProducto" readonly>
                </div>
    
            </fieldset>
    
            <fieldset class="form__container-data">
                <legend>Aceptación de condiciones y presupuesto</legend>
                <div class="form__container-data-checkbox">
                    <label>He leído la política de privacidad de la empresa
                        <input type="checkbox" name="checkbox" value="checkbox" id="condiciones">
                    </label>
                </div>

                <div class="form__input-submit">
            
                    <input type="submit" id="enviar">
                </div>
                
                
    
            </fieldset>

        </form>


    </section>

    <!---------------- FOOTER SECTION ------------------->

    <footer class="footer">
        <div class="footer__container">

            <div class="footer__container-direccion">
                <h3 class="footer__title">mArte</h3>

                <div class="footer__direccion">
                    <img src="../assets/images/535188.png" alt="logo ubicacion">
                    Carrer Jacint 6, 43700, El Vendrell
                    <br>
                    <br>

                </div>

                <div class="footer__direccion">
                    <img src="../assets/images/646094.png" alt="logo direccion">
                    mArtesana@gmail.com
                    <br>
                    <br>
                </div>

                <div class="footer__direccion">
                    <img src="../assets/images/134744.png" alt="logo telefono">
                    658745123
                </div>
            
        
            </div>

            <div class="footer__container-legal">
                <h3>Legal</h3>
                <ul>
                    <li>Aviso Legal</li>
                    
                    <li>Política de Cookies</li>
                    
                    <li><a href="https://policies.google.com/privacy?hl=es" target="_blank">Política de privacidad</a></li>
                </ul>
            </div>
            

            <div class="footer__container-redes">
        
                <div class="footer__redes">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="../assets/images/59439.png"  alt="Facebook icon" title="Facebook icon" class="redes">
                    </a>
                </div>
                <div class="footer__redes">
                    <a href="https://twitter.com/?lang=es" target="_blank">
                        <img src="../assets/images/5084650.png" alt="Twitter icon" title="Twitter icon" class="redes">
                    </a>
    
                </div>
                
                <div class="footer__redes">
                    <a href="https://www.instagram.com/" target="_blank">
                        <img src="../assets/images/739244.png" alt="Instagram icon" title="Instagram icon" class="instagram">
                    </a>
                </div>
        
            </div>
    
        </div>
        

    </footer>

    <script src="../javascript/02_script.js"></script>



</body>
</html>


    